.app {
  font-family: 'Kumbh Sans', sans-serif;;
  position: relative;
}

.header {
  background-color: #5964e0;
  position: absolute;
  height: 150px;
  width: 100%;
  z-index: -1;
  border-bottom-left-radius: 100px;
}

*{
  padding: 0PX;
  margin: 0PX;
}